.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/736x/9e/48/cb/9e48cb202329ad2b153e7b4c0823e325.jpg");
  background-size: 100% 100%;
  padding-top: 20px;
}

.timer-container {
  text-align: center;
  margin-bottom: 20px;
}

.timer {
  margin: 0;
  color: rgb(237, 0, 250);
  font-size: 25px;
  letter-spacing: 0.3em;
}

.button-container {
  margin-top: 10px;
}

.action-button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}

.typing-container {
  text-align: center;
}

.typing-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.typing-letter {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s;

}

.typing-letter.highlighted {
  background-color: transparent;
}

.input-field {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #272323;
  border-radius: 16px;
  background: rgb(235, 201, 201);
}

.results-container {
  text-align: center;
}

.results-heading {
  margin-bottom: 10px;
}

.result-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.result-label {
  margin-right: 10px;
  font-weight: bold;
}

.result-value {
  font-weight: normal;
}
.typing-letter {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.typing-letter.highlighted {
  background-color: transparent;
}

.typing-letter.pressed {
  background-color: #2196f3;
  color: white;
}

